
$laranja-padrao: #f9a649 !default;

.margin-email{
  margin: 35px auto;
}

.content {
  flex: 1 0 auto;
}

.content{
   margin-top:60px;
 }


.profile {
  margin: 20px 0;
}

.profile-sidebar {
  padding: 20px 0 10px 0;
  background: rgba(59, 59, 59, 0.219);
   max-width: 100%;
   min-height: 340px;
}

.profile-userpic img {
  float: none;
  display:block;
  margin:auto;
  max-width: 270px!important;
  width: 50%;
  height: 50%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  color: #5a7391;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-usertitle-job {
  text-transform: uppercase;
  color: #5b9bd1;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
}

.profile-userbuttons {
  text-align: center;
  margin-top: 10px;
}

.profile-userbuttons .btn {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
  margin-right: 0px;
}

.btn-defaul:hover{
  background-color: transparent!important;
}

.btn-voltar:hover{
  background-color: transparent!important;
  border-color:none!important;
}

.profile-content {
  padding: 20px;
  background: #fff;
  min-height: 460px;
}

.mat-form-field-label{
  color: $laranja-padrao!important;
}

::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: $laranja-padrao!important;;
 }

 ::ng-deep.mat-form-field-underline {
  /*change color of underline*/
  background-color: #fff;;
} 

::ng-deep.mat-form-field-ripple {
 /*change color of underline when focused*/
 background-color: $laranja-padrao!important;
}


// mat-icon-stepper selected color change 
::ng-deep .mat-step-header .mat-step-icon-selected, .mat-step-header .mat-step-icon-state-done, .mat-step-header .mat-step-icon-state-edit {
  background-color: $laranja-padrao!important;
}

//input outline color
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: $laranja-padrao!important;
  // opacity: 1!important;
}

//mat-input focused color
::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: $laranja-padrao!important;
}

// mat-input error outline color
::ng-deep .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick{
  color: $laranja-padrao!important;
  opacity: 0.8!important;
}

// mat-input carent color
::ng-deep .mat-input-element {
  caret-color: $laranja-padrao!important;
}

// mat-input error carent color
::ng-deep .mat-form-field-invalid .mat-input-element, .mat-warn .mat-input-element {
  caret-color: $laranja-padrao!important;
}


// mat-label focused style
::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color: $laranja-padrao!important;
}

// mat-label error style
::ng-deep .mat-option-text  {
  color: $laranja-padrao!important;
}
