<form class="example-form">
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <mat-form-field class="col-md-6">
        <input matInput placeholder="Nome" value="Sushi">
      </mat-form-field>
      <mat-form-field class="col-md-6">
        <input matInput placeholder="Sobrenome">
      </mat-form-field>
      <mat-form-field class="col-md-12 margin-email">
        <input matInput placeholder="E-mail">
      </mat-form-field>
      <mat-form-field class="col-md-6">
        <input matInput placeholder="Data de nascimento" type="date">
      </mat-form-field>
      <mat-form-field class="col-md-6">
        <input matInput placeholder="Escolaridade">
      </mat-form-field>
    </div>
  </div>
</form>
