.botao-acoes{
  display: inline-table!important;
}

.img-row{
  padding-top: 5px!important;
  padding-bottom:5px!important ;
}

    @media only screen and (max-width: 700px){
      .tabela-responsiva{
        display: block;
        width: 100%;
        overflow-x: auto;
        margin-bottom: 1rem;
        color: #fff;
      }
    }
